<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="lblSettings" aria-hidden="true" th:fragment="settings">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lblSettings">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label>Aisles:</label>
            <form class="form-inline d-flex justify-content-center">
	            <div class="form-group mx-sm-3 mb-2">
				    <label for="txtAddAisle" class="sr-only">Add</label>
				    <input type="text" class="form-control" id="txtAddAisle" placeholder="new aisle">
				</div>
				<button type="submit" class="btn btn-primary mb-2">Add</button>
			</form>
			<div class="d-flex justify-content-center bg-white">
		      <div class="btn-group" role="group">
		        <button type="button" class="btn btn-secondary disabled">Edit</button>
		        <button type="button" class="btn btn-secondary disabled">Remove</button>
		      </div>
		    </div>
            <label for="cmbAisle"></label>
            <select class="form-control" id="cmbAisle">
		        <option th:each="aisle : ${aisles}" th:text="${aisle.name}"></option>
		    </select>
          </div>
          <div class="form-group">
            <label>Units of Measurment:</label>
            <form class="form-inline d-flex justify-content-center">
	            <div class="form-group mx-sm-3 mb-2">
				    <label for="txtAddUnitOfMeasurement" class="sr-only">Add</label>
				    <input type="text" class="form-control" id="txtUnitOfMeasurement" placeholder="new unit of measurement">
				</div>
				<button type="submit" class="btn btn-primary mb-2">Add</button>
			</form>
			<div class="d-flex justify-content-center bg-white">
		      <div class="btn-group" role="group">
		        <button type="button" class="btn btn-secondary disabled">Edit</button>
		        <button type="button" class="btn btn-secondary disabled">Remove</button>
		      </div>
		    </div>
            <label for="cmbUnitsOfMeasurement"></label>
            <select class="form-control" id="cmbUnitsOfMeasurement">
		        <option th:each="unitOfMeasurement : ${unitsOfMeasurement}" th:text="${unitOfMeasurement.name}"></option>
		    </select>
          </div>
          <div class="form-group">
            <label>Amounts:</label>
            <form class="form-inline d-flex justify-content-center">
	            <div class="form-group mx-sm-3 mb-2">
				    <label for="txtAddAmount" class="sr-only">Add</label>
				    <input type="text" class="form-control" id="txtAmount" placeholder="new amount">
				</div>
				<button type="submit" class="btn btn-primary mb-2">Add</button>
			</form>
			<div class="d-flex justify-content-center bg-white">
		      <div class="btn-group" role="group">
		        <button type="button" class="btn btn-secondary disabled">Edit</button>
		        <button type="button" class="btn btn-secondary disabled">Remove</button>
		      </div>
		    </div>
            <label for="cmbAmounts"></label>
            <select class="form-control" id="cmbAmounts">
		        <option th:each="amount : ${amounts}" th:text="${amount.value}"></option>
		    </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>