<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
  	<link type="text/css" rel="stylesheet" href="/style/style404.css"/>
		<title>Groceries by Recipe</title>
	</head>
	<body>
		<div class="text">
			<h1>404</h1>
			<h2>Uh, Ohh</h2>
			<h3>Sorry we cant find what you are looking for 'cuz its so dark in here</h3>
		</div>
		<div class="torch"></div>
		<script src="/script/script404.js"></script>
	</body>
</html>