<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- Head -->
  <div th:replace="~{fragments/head :: head}"></div>
  <body
  	style="
  		padding-top: 94px;
  		background: none;">
		<!-- Add Ingredient Modal -->
		<div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="lblAddIngredient" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="lblAddIngredient">Add Ingredient</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<form id="frmAddIngredient" th:action="@{/edit_recipe/add/ingredient}" method="POST" th:object="${ingredient}">
								<input type="number" class="txtAddIngredientRecipeID" name="txtAddIngredientRecipeID" id="txtAddIngredientRecipeID" th:value="${recipe.recipeID}" hidden="true">
								<label for="cmbAddAmount">Amount:</label>
								<select class="form-control" name="cmbAddAmount" id="cmbAddAmount">
									<option th:each="amount : ${amounts}" th:value="${amount.amountID}" th:text="${amount.value}">
								</select>
								<label for="cmbAddUnitOfMeasurement">Unit of Measurement:</label>
								<select class="form-control" name="cmbAddUnitOfMeasurement" id="cmbAddUnitOfMeasurement">
									<option th:each="unitOfMeasurement : ${unitsOfMeasurement}" th:value="${unitOfMeasurement.unitOfMeasurementID}" th:text="${unitOfMeasurement.name}">
								</select>
								<label for="cmbAddItem">Item:</label>
								<select class="form-control" name="cmbAddItem" id="cmbAddItem">
									<option th:each="item : ${items}" th:value="${item.itemID}" th:text="${item.description}">
								</select>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary" id="cmdAddIngredient">Add Ingredient</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Edit Ingredient Modal -->
		<div class="modal fade" id="editIngredientModal" tabindex="-1" role="dialog" aria-labelledby="lblEditIngredient" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="lblEditIngredient">Edit Ingredient</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<form id="frmEditIngredient" th:action="@{/edit_recipe/edit/ingredient}" method="PUT" th:object="${ingredient}">
								<input type="number" class="txtEditIngredientRecipeID" name="txtEditIngredientRecipeID" id="txtEditIngredientRecipeID" th:value="${recipe.recipeID}" hidden="true">
								<input type="number" class="txtEditID" name="txtEditID" id="txtEditID" hidden="true">
								<label for="cmbEditAmount">Amount:</label>
								<select class="form-control" name="cmbEditAmount" id="cmbEditAmount">
									<option th:each="amount : ${amounts}" th:value="${amount.amountID}" th:text="${amount.value}">
								</select>
								<label for="cmbEditUnitOfMeasurement">Unit of Measurement:</label>
								<select class="form-control" name="cmbEditUnitOfMeasurement" id="cmbEditUnitOfMeasurement">
									<option th:each="unitOfMeasurement : ${unitsOfMeasurement}" th:value="${unitOfMeasurement.unitOfMeasurementID}" th:text="${unitOfMeasurement.name}">
								</select>
								<label for="cmbEditItem">Item:</label>
								<select class="form-control" name="cmbEditItem" id="cmbEditItem">
									<option th:each="item : ${items}" th:value="${item.itemID}" th:text="${item.description}">
								</select>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary" id="cmdEditIngredient">Edit Ingredient</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Remove Ingredient Modal -->
		<div class="modal fade" id="removeIngredientModal" tabindex="-1" role="dialog" aria-labelledby="lblRemoveIngredient" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="lblRemoveIngredient">Remove Ingredient?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<form id="frmRemoveIngredient" th:action="@{/edit_recipe/remove/ingredient}" method="GET">
								<input type="number" class="txtRemoveIngredientRecipeID" name="txtRemoveIngredientRecipeID" id="txtRemoveIngredientRecipeID" th:value="${recipe.recipeID}" hidden="true">
								<table class="table w-auto m-0">
									<thead>
										<tr>
											<th scope="col" hidden>ID</th>
											<th scope="col">Ingredient</th>
										</tr>
									</thead>
									<tbody id="tblRemoveIngredient"></tbody>
								</table>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary" id="cmdRemoveIngredient">Remove Ingredient</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
    <header class="fixed-top bg-white">
			<!-- Alert Box -->
			<div th:replace="~{fragments/alert_success :: alert_success}"></div>
	  	<!-- Nav Bar -->
			<div th:replace="~{fragments/nav :: nav}"></div>
			<!-- Button Group -->
			<div class="d-flex justify-content-center bg-white">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addIngredientModal">Add</button>
					<button type="button" class="ingredient-buttons btn btn-warning disabled" id="cmdEditIngredient" data-toggle="modal" data-target="#editIngredientModal">Edit</button>
					<button type="button" class="ingredient-buttons btn btn-danger disabled" id="cmdRemoveIngredient" data-toggle="modal" data-target="#removeIngredientModal">Remove</button>
					<button form = "frmSaveRecipe" type="submit" class="btn btn-success" id="cmdSaveRecipe">Save Recipe</button>
				</div>
			</div>
		</header>
		<!-- Body -->
		<div class="mx-3">
			<form id="frmSaveRecipe" th:action="@{/edit_recipe}" method="POST">
				<input type="number" class="txtSaveRecipeRecipeID" name="txtSaveRecipeRecipeID" id="txtSaveRecipeRecipeID" th:value="${recipe.recipeID}" hidden="true">
				<div class="form-group">
					<label for="txtName" class="col-form-label">Name:</label>
					<input type="text" class="form-control" name="txtName" id="txtName" placeholder="Name" th:value="${recipe.name}">
				</div>
				<div class="form-group">
					<label for="tblIngredients" class="col-form-label">Ingredients:</label>
					<table class="table table-hover w-auto m-0" id="tblIngredients">
						<tbody>
							<tr class="clickable-row searchable-row" th:each="ingredient : ${recipe.ingredients}">
								<td th:text="${ingredient.ingredientID}" class="ingredientID" hidden>ID</td>
								<td th:text="${ingredient.toString()}">INGREDIENT</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="form-group">
					<label for="txtInstructions" class="col-form-label">Instructions:</label>
					<textarea class="form-control" name="txtInstructions" id="txtInstructions" placeholder="Instructions" rows="15" th:text="${recipe.instructions}"></textarea>
				</div>
			</form>
		</div>
		<!-- Script Imports -->
		<div th:replace="~{fragments/script_imports :: script_imports}"></div>
		<script th:src="@{script/scriptEdit_Recipe.js}"></script>
  </body>
</html>