<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Font Link CSS Style: "font-family: 'Source Code Pro', monospace;" -->
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{style.css}" />
    <title>Groceries by Recipe</title>
  </head>
  <body style="padding-top: 183px;">
		<!-- Settings Modal -->
  	<div th:replace="~{fragments/settings :: settings}"></div>
		<!-- Add Item Modal -->
		<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="lblAddItem" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="lblAddItem">Add Item</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/items}" method="post" th:object="${item}">
							<div class="form-group">
								<label for="cmbAisle">Aisle:</label>
								<select class="form-control" name="cmbAisle" id="cmbAisle">
									<option th:each="aisle : ${aisles}" th:value="${aisle.aisleID}" th:text="${aisle.name}">
								</select>
							</div>
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Description:</label>
								<input type="text" class="form-control" id="recipient-name" th:field="*{description}">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary" id="cmdAddItem">Add</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Header -->
    <header class="fixed-top bg-white">
			<!-- Nav Barr -->
    	<div th:replace="~{fragments/nav :: nav}"></div>
			<!-- Button Group -->
    	<div class="d-flex justify-content-center bg-white">
    		<div class="btn-group" role="group">
        	   	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addItemModal">Add</button>
	           	<button type="button" class="item-buttons btn btn-secondary disabled">Edit</button>
	           	<button type="button" class="item-buttons btn btn-danger disabled" id="cmdRemoveItem">Remove</button>
	           	<button type="button" class="item-buttons btn btn-secondary disabled">Add To Shopping List</button>
        	</div>
        </div>
			<!-- Search Input -->
    	<input type="text" class="search-input form-control" placeholder="Search..." id="search-input">
			<!-- Column Heads -->
    	<table class="m-0 table table-hover w-auto">
	    	<thead class="sticky-top bg-white">
		    	<tr>
					<th scope="col" hidden>ID</th>
					<th scope="col" style="cursor: pointer;" onclick="sortTable(1)" class="text-right items-left-column">Aisle</th>
					<th scope="col" style="cursor: pointer;" onclick="sortTable(2)">Description</th>
		    	</tr>
		  	</thead>
	  	</table>
    </header>
		<!-- Body -->
		<table class="table table-hover w-auto" id="tblItems">
			<tbody>
				<tr class="clickable-row searchable-row" th:each="item : ${items}">
					<td th:text="${item.itemID}" class="itemID" hidden>ID</td>
					<td th:text="${item.aisle.name}" class="text-right items-left-column">AI</td>
					<td th:text="${item.description}">DESCRIPTION</td>
	           		<!--  <td><a th:href="@{/items/{itemID}(itemID=${item.itemID})}" 
	           				class="item-buttons btn btn-danger disabled" 
	           				onclick="return confirm('Are you sure you want to delete this item?')">Remove</a></td> -->
				</tr>
			</tbody>
		</table>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <script th:src="@{script.js}"></script>
</html>