<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- Head -->
  <div th:replace="~{fragments/head :: head}"></div>
  <body style="padding-top: 144px;">
		<!-- Settings Modal -->
  	<div th:replace="~{fragments/settings :: settings}"></div>
		<!-- Add Item Modal -->
		<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="lblAddItem" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="lblAddItem">Add Item</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="frmAddExistingItem" th:action="@{/list}" method="POST" th:object="${shoppingListItem}">
							<div class="form-group">
								<label for="cmbItem">Existing Item:</label>
								<select class="form-control" name="cmbAddItem" id="cmbAddItem">
									<option th:each="item : ${items}" th:value="${item.itemID}" th:text="${item.description}">
								</select>
							</div>
							<div class="form-group">
								<label class="form-label" for="numCount">How many?</label>
								<input type="number" value="1" class="form-control text-right" min="1" max="99" id="numCount" name="numCount">
							</div>
							<div class="modal-footer" style="border-bottom: 1px;">
								<button type="submit" class="btn btn-primary" id="cmdAddExistingItem">Add</button>
							</div>
						</form>
						<form id="frmAddItem" th:action="@{/list/add}" method="POST" th:object="${item}">
							<div class="form-group">
								<label for="cmbAisle">Aisle:</label>
								<select class="form-control" name="cmbAddAisle" id="cmbAddAisle">
									<option th:each="aisle : ${aisles}" th:value="${aisle.aisleID}" th:text="${aisle.name}">
								</select>
							</div>
							<div class="form-group">
								<label for="txtAddDescription" class="col-form-label">Description:</label>
								<input type="text" class="form-control" name="txtAddDescription" id="txtAddDescription" placeholder="Description" th:field="*{description}">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary" id="cmdAddItem">Add</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Header -->
    <header class="fixed-top bg-white">
	  <!-- Alert Box -->
      <div th:replace="~{fragments/alert_success :: alert_success}"></div>
	  <!-- Nav Bar -->
      <div th:replace="~{fragments/nav :: nav}"></div>
	  <!-- Button Group -->
      <div class="d-flex justify-content-center bg-white">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">Add</button>
          <button type="button" class="shoppingListItem-buttons btn btn-warning disabled" id="cmdRemoveShoppingListItem">Remove</button>
          <button type="button" class="btn btn-danger" id="cmdClearShoppingList">Clear</button>
        </div>
      </div>
	  <!-- Column Heads -->
      <table class="m-0 table table-hover w-auto">
	    <thead class="sticky-top bg-white">
		  <tr>
				<th scope="col" hidden>ID</th>
				<th scope="col" class="list-column-1"></th>
				<th scope="col" class="list-column-2 text-right">Count</th>
				<th scope="col" class="list-column-3 text-right">Aisle</th>
				<th scope="col">Description</th>
		  </tr>
		</thead>
	 </table>
    </header>
	<!-- Body -->
	<table class="table table-hover w-auto" id="tblShoppingListItems">
		<tbody>
			<tr class="clickable-row searchable-row" th:each="shoppingListItem : ${shoppingList}">
				<td th:text="${shoppingListItem.shoppingListID}" class="shoppingListID" hidden>ID</td>
				<td class="list-column-1"><input type="checkbox"></td>
				<td th:text="${shoppingListItem.count}" class="list-column-2 text-right">COUNT</td>
				<td th:text="${shoppingListItem.item.aisle.name}" class="list-column-3 text-right">AI</td>
				<td th:text="${shoppingListItem.item.description}">DESCRIPTION</td>
			</tr>
		</tbody>
	</table>
	<!-- Script Imports -->
	<div th:replace="~{fragments/script_imports :: script_imports}"></div>
  <script th:src="@{script/scriptShoppingList.js}"></script>
  </body>
</html>