<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- Head -->
  <div th:replace="~{fragments/head :: head}"></div>
  <body>
  	<div th:replace="~{fragments/settings :: settings}"></div>
    <header class="fixed-top bg-white">
	  <!-- Alert Box -->
      <div th:replace="~{fragments/alert_success :: alert_success}"></div>
	  <!-- Nav Bar -->
      <div th:replace="~{fragments/nav :: nav}"></div>
	  <!-- Button Group -->
      <div class="d-flex justify-content-center bg-white">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary">Add</button>
          <button type="button" class="recipe-buttons btn btn-warning disabled">Edit</button>
          <button type="button" class="recipe-buttons btn btn-danger disabled">Remove</button>
          <button type="button" class="recipe-buttons btn btn-success disabled">Add To Shopping List</button>
        </div>
      </div>
    </header>
	<div class="row m-0">
	  <div class="col-4 pl-0">
	    <div class="list-group" id="lstRecipe" role="tablist">
	      <a class="list-group-item list-group-item-action" th:each="recipe : ${recipes}" th:id="'lstRecipe-' + ${recipe.recipeID} + '-list'" data-toggle="list" th:href="'#lstRecipe-' + ${recipe.recipeID}" role="tab" th:attr="aria-controls=${recipe.recipeID}" th:text="${recipe.name}">Recipe Name</a>
	    </div>
	  </div>
	  <div class="col-8 pt-e-15" id="recipe-content">
	    <div class="tab-content" id="nav-tabContent">
	   	  <div class="tab-pane fade" th:each="recipe : ${recipes}" th:id="'lstRecipe-' + ${recipe.recipeID}" role="tabpanel" th:attr="aria-labelledby='lstRecipe-' + ${recipe.recipeID} + '-list'">
	        <ul>
	      	  <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.amount.value} + ' ' + ${ingredient.unitOfMeasurement.name} + ' ' + ${ingredient.item.description}">Recipe Ingredient</li>	      	
	        </ul>
	        <p th:text="${recipe.instructions}">Recipe Instructions</p>
	   	  </div>
	    </div>
	  </div>
	</div>
	<!-- Script Imports -->
	<div th:replace="~{fragments/script_imports :: script_imports}"></div>
  <script th:src="@{script/scriptRecipes.js}"></script>
  </body>
</html>