<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- Head -->
  <div th:replace="~{fragments/head :: head}"></div>
  <body 
  	style="
  		padding-top: 94px;
  		background: none;">
		<!-- Add Recipe Modal -->
		<div class="modal fade" id="addRecipeModal" tabindex="-1" role="dialog" aria-labelledby="lblAddRecipe" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="lblAddRecipe">Add Recipe</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="frmAddRecipe" th:action="@{/recipes/add}" method="POST" th:object="${recipe}">
							<div class="form-group">
								<label for="txtName" class="col-form-label">Name:</label>
								<input type="text" class="form-control" name="txtName" id="txtName" placeholder="Name" th:field="*{name}">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary" id="cmdAddRecipe">Add</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Edit Recipe Modal -->
		<div class="modal fade" id="editRecipeModal" tabindex="-1" role="dialog" aria-labelledby="lblEditRecipe" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="lblEditRecipe">Confirm Edit Recipe</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="frmEditRecipe" th:action="@{/recipes/edit}" method="GET" th:object="${recipe}">
							<input class="txtEditID" name="txtEditID" id="txtEditID" hidden th:field="*{recipeID}">
							<div class="form-group">
								<label for="txtEditName" class="col-form-label">Name:</label>
								<input type="text" class="form-control" name="txtEditName" id="txtEditName" th:field="*{Name}" readonly>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary" id="cmdEditRecipe">Confirm</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Add To Shopping List Modal -->
		<div class="modal fade" id="addToShoppingListModal" tabindex="-1" role="dialog" aria-labelledby="lblAddToShoppingList" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="lblAddToShoppingList">Items to add to the shopping list:</h5>
						<button type="button" class="close close-add-to-shopping-list-modal" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="frmAddToShoppingList" class="form-inline d-flex justify-content-center" th:action="@{/recipes/addToShoppingList}" method="POST" th:object="${jRecipe}">
							<input type="hidden" id="txtJSON" name="txtJSON" th:field="*{instructions}">
							<table class="table w-auto">
								<thead>
									<tr>
										<th scope="col" hidden>ID</th>
										<th scope="col">Description</th>
										<th scope="col">How many?</th>
									</tr>
								</thead>
								<tbody id="tblAddToShoppingList"></tbody>
							</table>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary close-add-to-shopping-list-modal" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Confirm</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<header class="fixed-top bg-white">
	  	<!-- Alert Box -->
      <div th:replace="~{fragments/alert_success :: alert_success}"></div>
	  	<!-- Nav Bar -->
      <div th:replace="~{fragments/nav :: nav}"></div>
	  	<!-- Button Group -->
      <div class="d-flex justify-content-center bg-white">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRecipeModal">Add</button>
          <button type="button" class="recipe-buttons btn btn-warning disabled" data-toggle="modal" data-target="#editRecipeModal">Edit</button>
          <button type="button" class="recipe-buttons btn btn-danger disabled" id="cmdRemoveRecipe">Remove</button>
          <button type="button" class="recipe-buttons btn btn-success disabled" id="cmdAddToShoppingList">Add To Shopping List</button>
        </div>
      </div>
    </header>
		<!-- Body -->
		<div class="row m-0">
			<div class="col-4 pl-0">
				<div class="list-group" id="lstRecipe" role="tablist">
					<a class="list-group-item list-group-item-action"
						th:each="recipe : ${recipes}"
						th:id="${recipe.recipeID}"
						data-toggle="list"
						th:href="'#lstRecipe-' + ${recipe.recipeID}"
						role="tab"
						th:attr="aria-controls=${recipe.recipeID}"
						th:text="${recipe.name}">
						Recipe Name
					</a>
				</div>
			</div>
			<div style="height: 100%;" class="col-8 pt-e-15" id="recipe-content">
				<div style="height: 100%;" class="tab-content" id="nav-tabContent">
					<div 
						style="height: 100%;" 
						class="tab-pane fade" 
						th:each="recipe : ${recipes}" 
						th:id="'lstRecipe-' + ${recipe.recipeID}" 
						role="tabpanel" 
						th:attr="aria-labelledby=${recipe.recipeID}">
						<ul>
							<li 
								th:each="ingredient : ${recipe.ingredients}" 
								th:text="${ingredient.amount.value} + ' ' + ${ingredient.unitOfMeasurement.name} + ' ' + ${ingredient.item.description}">
								Recipe Ingredient
							</li>	      	
						</ul>
						<textarea 
							readonly 
							class="readonly" 
							th:text="${recipe.instructions}">
							Recipe Instructions
						</textarea>
					</div>
				</div>
			</div>
		</div>
		<!-- Script Imports -->
		<div th:replace="~{fragments/script_imports :: script_imports}"></div>
		<script th:src="@{script/scriptRecipes.js}"></script>
  </body>
</html>