<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<!-- Head -->
	<div th:replace="~{fragments/head :: head}"></div>
	<body>
		<header class="fixed-top bg-white">
			<!-- Nav Bar -->
			<div th:replace="~{fragments/nav :: nav}"></div>
		</header>
		<main class="text-center p-0" id="pnlRegister">
			<div class="container">
				<div class="jumbotron">
					<div class="panel d-flex justify-content-center">
						<form class="form-signin" id="frmRegister" th:action="@{/register}" method="post" th:object="${user}">
							<img src="/images/grocery_basket.svg" alt="" width="72" height="72">
							<h1 class="h3 mb-3 font-weight-normal">Please register</h1>
							<!-- Email -->
							<label for="txtEmail" class="sr-only">Email address*</label>
							<input type="email" id="txtEmail" class="form-control mb-3" placeholder="Email address" required autofocus th:field="*{email}">
							<!-- Password -->
							<label for="txtPassword" class="sr-only">Password*</label>
							<input type="password" id="txtPassword" class="form-control" placeholder="Password" pattern=".{6,}" aria-describedby="lblPasswordHelp" required th:field="*{password}">
							<small id="lblPasswordHelp" class="form-text text-muted mb-3">Your password must be at least 6 characters long.</small>
							<!-- Confirm Password -->
							<label for="txtConfirmPassword" class="sr-only">Confirm Password*</label>
							<input type="password" name="txtConfirmPassword" id="txtConfirmPassword" class="form-control mb-3" placeholder="Confirm Password" required>
							<!-- Username -->
							<label for="txtUsername" class="sr-only">Username</label>
							<input type="text" id="txtUsername" class="form-control mb-3" placeholder="Username" th:field="*{username}">
							<!-- First Name -->
							<label for="txtFirstName" class="sr-only">First Name</label>
							<input type="text" id="txtFirstName" class="form-control mb-3" placeholder="First Name" th:field="*{firstName}">
							<!-- Last Name -->
							<label for="txtLastName" class="sr-only">Last Name</label>
							<input type="text" id="txtLastName" class="form-control mb-3" placeholder="Last Name" th:field="*{lastName}">
							<!-- Submit Button -->
							<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
							<p class="mt-3 mb-0 text-muted">&copy; 2022</p>
						</form>
					</div>
				</div>
			</div>
		</main>
		<!-- Script Imports -->
		<div th:replace="~{fragments/script_imports :: script_imports}"></div>
	</body>
</html>